.picCol {
  /* height: 35%;
  width: 35%; */

  margin-left: 0px !important;
  padding-left: 0px !important;
  margin-bottom: -30px !important;
}

.dataCol {
  position: relative;
}

.mainImg {
  width: 100%;
  margin: 0px !important;
  border-radius: 2px;
}
.home {
  width: 100%;

  margin: 0px !important;
  border-radius: 2px;
}
.projects {
  width: 100%;
  margin: 0px !important;
  border-radius: 2px;
}

.aboutMe {
  width: 100%;

  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact {
  width: 100%;

  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainCard {
}

.mainContain {
  background-image: url("https://i.imgur.com/CQigMq4.jpg?1");
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
}

.cardImg {
  padding: 0px !important;
}
