.navLink {
  background-color: white;
  color: black !important;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navBack {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.outerNav {
  margin: 5px;
  text-align: center;
  background-image: url("../../pages/fish1.PNG");
  background-size: cover;
}

.imgDrop {
  height: 10%;
}
