.mainContain {
  background-image: url("https://i.imgur.com/CQigMq4.jpg?1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  height: 400;
}

.colProj {
  margin: 0 auto;
  float: none;
  /* display: flex; */
}

.bannerCol {
  /* background-color: black; */
  text-align: center;
  padding: 0px !important;
  margin-bottom: 10px;
}

.bannerImg {
  height: 35%;
  width: 35%;
  object-fit: contain;
  margin-top: 10px;
  padding: 0px !important;
}
