/* Home.js */
.projectCard {
  text-align: center;

  margin-top: 20px;
  margin-bottom: 20px;
  /* display: block; */
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.pageHeader {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}

/* Footer.js */
.footer {
  background-color: black;
}
