/* Home.js */
.projectCard {
  text-align: center;
  color: black;

  margin-top: 20px;
  margin-bottom: 20px;
  /* display: block; */
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.pageHeader {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}

/* Footer.js */
.footer {
  background-color: black;
}

.navbar {
  /* margin-bottom: 100px; */
}

.bannerRow {
  margin-bottom: 100px;
}

.img-thumnail {
  padding: 100px !important;
  margin-bottom: 100px;
  margin-top: 5px !important;
  background-color: black;
}

.dCard {
  /* margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 0; */
  margin-top: 5%;
  margin-bottom: 5%;
}

.fa-linkedin,
.fa-linkedin-square {
  color: #007bb6;
}

.imgDrop {
  height: 10%;
  width: 10%;
}
